.form {
    display: flex;
    gap: 12px;
    max-width: 567px;
    margin: auto;
    justify-content: center;
}

.result {
    margin: 0 auto;
    width: 994px;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 16px;
}