.form {
    display: flex;
    gap: 12px;
    max-width: 522px;
    margin: auto;
}

.arr {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    column-gap: 16px;
}